.imagekit-stats {
  width: 100%;
  
  th {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: currentColor;
      position: relative;
      bottom: .25em;
      margin-left: .35em;
      opacity: .2;
    }
  }
  
  td {
    padding-left: .35em;
    width: 25%;
  }
}

.imagekit-action--disabled {
  opacity: .5;
  color: inherit !important;
  cursor: default !important;
}

@keyframes imagekit-progress-indeterminate {
  0%   { background-position: 0 0; }
  100% { background-position: -40px 0; }
}

.imagekit-progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 12px;
  background: #efefef;
  border: 2px solid #000;
  transition: opacity .1s;

  &::-webkit-progress-value {
    background: transparent;
  }
  
  &::-moz-progress-bar {
    background: transparent;
  }

  &[value]::-moz-progress-bar {
	   background: #000;
  }

  &[value]::-webkit-progress-value {
	  background: #000;
  }

  &:not([value]) {
    background:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAIAAAABc2X6AAABiklEQVR4nOXawY6DMBADUJP//2f2UGm7i2ghYTJjO71QDth6UUUhyYaiz77vJb2tqnjbtpLehrrBLjG312Edc/v9toi5/T1ZwdwO5/bmIxju5hMwrM3nYPiaP4Jhav4GhqP5Agw78zUYXuZbYBiZ74LhYu4Aw8LcB4a+uRsMcfMIGMrmQTBkzeNgaJofgSFofgqGmjkADClzDBg65jAwRMyRYCiYg8GgN8eDwW2eAgaxeRYYrOaJYFCa54LBZ54OBpk5AwwmcxIYNOY8MDjMqWAQmLPBqDZv5UOe3YvqIc8ufR3WMb/7FjH/K1vBfGyyN5/UeJvPO4zNHwtczd/SLc0X0X7m61wz861QJ/PdRBtzR5yHuS/LwNwdpG4eSZE2D0bomsevFzU/uljR/PQXImcOuA1omWPu9ULmsD90FXPkU5uEOfjRnN8c//5Fbp7yks1snjWTQmueOF3GaZ47J0ponj7xzWbOWN2gMictYfGY89YpScypi9EM5uwdB+Xmgm0lxduWSroLzT9N1/B1F+eRwAAAAABJRU5ErkJggg==');
    background-size: 40px 40px;
    animation: 1s imagekit-progress-indeterminate linear infinite;
    opacity: .5;
  }
  
  &.is-hidden {
    opacity: 0;
  }
}
