.imagekit-stats {
  width: 100%;
  
  th {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: currentColor;
      position: relative;
      bottom: .25em;
      margin-left: .35em;
      opacity: .2;
    }
  }
  
  td {
    padding-left: .35em;
    width: 25%;
  }
}

.imagekit-action--disabled {
  opacity: .5;
  color: inherit !important;
  cursor: default !important;
}

.imagekit-modal {
  background: rgba(#fff, .9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 1em 4em;

  p {
    margin-bottom: 1em;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.imagekit-modal-buttons {
  padding-top: 1em;
}

.imagekit-error-icon {
  display: inline-block;
  background: inline('../images/icon-error@2x.png') 0 0 / 28px 32px no-repeat;
  width: 28px;
  height: 32px;
  margin-bottom: .75em;
}

@keyframes imagekit-progress-indeterminate {
  0%   { background-position: 0 0; }
  100% { background-position: -40px 0; }
}

.imagekit-progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 12px;
  background: #efefef;
  border: 2px solid #000;
  
  animation: 1s imagekit-progress-indeterminate linear infinite;
  background-size: 40px 40px;
  
  &::-webkit-progress-value {
    background: transparent;
  }
  
  &::-moz-progress-bar {
    background: transparent;
  }

  &[value]::-moz-progress-bar {
	   background: #000;
  }

  &[value]::-webkit-progress-value {
	  background: #000;
  }
  
  &:not([value]) {
    background-image: inline('../images/progress-indeterminate@2x.png');
    opacity: .5;
  }
  
  &[value] {
    background-image: inline('../images/progress-running@2x.png')
  }
  
  &.is-hidden {
    visibility: hidden;
  }
  
  &.is-disabled {
    animation-play-state: paused;
  }
}

.imagekit-progress-text {
  font-size: 14px;
  font-style: italic;
  
  .imagekit-progress.is-hidden + & {
    visibility: hidden; 
  }
}
